@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');

.top-bar{
    width: 100%;
    height: 4vh;
    background-color: rgb(191, 191, 63);
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 17px;
}

@media screen and (max-width: 700px){
    .top-bar{
        display: flex;
        flex-direction: column;
        height: 12vh;
    }   
}

.icon{
    margin-right: 10px;
    color: rgb(204, 112, 112);
}
.canada-helps{
    text-decoration: none;
    color: #fff;
    transition: color 0.5s;
}

.canada-helps:hover{
    color: rgb(194, 43, 43);
    transition: color 0.5s;
}

.navbar.navbar-expand-lg.navbar-light.bg-light{
    background-color: #2e2f2f !important;
    top: 4vh;
    box-shadow: 0px 0px 1px #000000;
    padding: 0 !important;
}

@media screen and (max-width: 700px){
    .navbar.navbar-expand-lg.navbar-light.bg-light{
        top: 12vh;
    }   
}

.navbar-light .navbar-brand{
    color: rgb(246, 242, 242) !important;
    font-family: 'Corinthia', cursive;
    font-size: 30px;
    width: 100%;
}

@media screen and (max-width: 1000px){
    .navbar-light .navbar-brand{   
        font-size: 25px;
        width: 50%;
    }
}

@media screen and (max-width: 450px){
    .navbar-light .navbar-brand{   
        font-size: 20px;
        width: 50%;
    }
}

.logo{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-right: 20px;
}
.navbar-collapse{
    padding-left: 200px;
    width: 100%;
    color: rgb(191, 191, 63);
}

button.navbar-toggler.collapsed, .navbar-toggler.collapsed:hover, .navbar-toggler.collapsed:focus, .navbar-toggler.collapsed:active{
    background-color: rgb(191, 191, 63);
}

@media screen and (max-width: 1000px){
    .navbar-collapse{
        padding-left: 0;
        width: 10%;
    }
}
.navbar-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    color: rgb(246, 242, 242) !important;
    font-family: 'Corinthia', cursive;
    font-size: 25px;
    margin-right: 5px;
    font-weight: bold;
}

@media screen and (max-width: 1200px){
    .nav-link{
        font-size: 20px;
    }
}

.nav-link:hover{
    color: rgb(191, 191, 63) !important;
}
